In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords

In [2]:
data = pd.read_csv("trg.csv")
data.head()

   id class                                           abstract
0   1     B  the 4 202 353 bp genome of the alkaliphilic ba...
1   2     A  the complete 1751377-bp sequence of the genome...
2   3     E  in 1992 we started assembling an ordered libra...
3   4     E  the aim of this study is to measure human mito...
4   5     B  the amino acid sequence of the spirulina maxim...

In [3]:
data["abstract_splitted"] = data["abstract"].apply(lambda x: x.split())
data.head()

,id,class,abstract,abstract_splitted
0,1,B,the 4 202 353 bp genome of the alkaliphilic ba...,"[the, 4, 202, 353, bp, genome, of, the, alkali..."
1,2,A,the complete 1751377-bp sequence of the genome...,"[the, complete, 1751377-bp, sequence, of, the,..."
2,3,E,in 1992 we started assembling an ordered libra...,"[in, 1992, we, started, assembling, an, ordere..."
3,4,E,the aim of this study is to measure human mito...,"[the, aim, of, this, study, is, to, measure, h..."
4,5,B,the amino acid sequence of the spirulina maxim...,"[the, amino, acid, sequence, of, the, spirulin..."

In [4]:
#REMOVE words present in all 4 classes
A = set(data[data['class'] == 'A'].iloc[:,-2].str.cat(sep=" ").split())
B = set(data[data['class'] == 'B'].iloc[:,-2].str.cat(sep=" ").split())
E = set(data[data['class'] == 'E'].iloc[:,-2].str.cat(sep=" ").split())
V = set(data[data['class'] == 'V'].iloc[:,-2].str.cat(sep=" ").split())

intersection = A.intersection(B,E,V)

In [5]:
every_word = data['abstract'].str.cat(sep=" ")
every_word = every_word.split()

In [6]:
every_word = set(every_word)
len(every_word)

32241

In [7]:
every_word = every_word - intersection
len(every_word)

31319

In [8]:
stopwordss = set(stopwords.words('english'))

In [9]:
cleaned_words = [word for word in every_word if word not in stopwordss]

In [10]:
refined_dataframe = pd.DataFrame(np.zeros((data.shape[0],len(cleaned_words)), dtype=float), columns=cleaned_words)
refined_dataframe['abstract_splitted'] = data['abstract_splitted']
refined_dataframe['target_class'] = data['class']
refined_dataframe.head()

,25-,phmt112,machesky,gly-x-y,able,endowed,psbb-ycf8-psbh-petb-petd,14000,47-,profiling,...,ca2-dependent,overland,agricultural,substrate,1143,fluctuations,calf,pupae,abstract_splitted,target_class
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[the, 4, 202, 353, bp, genome, of, the, alkali...",B
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[the, complete, 1751377-bp, sequence, of, the,...",A
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[in, 1992, we, started, assembling, an, ordere...",E
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[the, aim, of, this, study, is, to, measure, h...",E
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[the, amino, acid, sequence, of, the, spirulin...",B

In [11]:
refined_dataframe.shape

(4000, 31284)

In [12]:
#Get rid of stopwords in abstract_splitted and get rid of intersected words in abstract
refined_dataframe['abstract_splitted'] = refined_dataframe['abstract_splitted'].apply(lambda x: [word for word in x if word not in stopwordss])
refined_dataframe['abstract_splitted'] = refined_dataframe['abstract_splitted'].apply(lambda x: [word for word in x if word not in intersection])
#refined_dataframe['abstract_splitted'] = refined_dataframe['abstract_splitted'].apply(lambda x: list(set(x) - intersection))
refined_dataframe.head()

,25-,phmt112,machesky,gly-x-y,able,endowed,psbb-ycf8-psbh-petb-petd,14000,47-,profiling,...,ca2-dependent,overland,agricultural,substrate,1143,fluctuations,calf,pupae,abstract_splitted,target_class
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[202, 353, alkaliphilic, bacterium, bacillus, ...",B
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[1751377-bp, archaeon, methanobacterium, therm...",A
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[1992, started, assembling, ordered, cosmid, x...",E
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[aim, measure, mitochondrial, variability, rel...",E
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[spirulina, maxima, ferredoxin, h2n-ala-thr-ty...",B

In [13]:
# Final step in feature engineering
for rows in range(0, refined_dataframe.shape[0]):
    abstract = refined_dataframe['abstract_splitted'].iloc[rows]
    for i in range(0, len(abstract)):
        word = abstract[i]
        refined_dataframe.at[rows, word] += 1

### Getting everything ready for the Bayes formula

In [14]:
#Get the 4 class separated dataframes now so its not that slow for the functions later on
As = refined_dataframe[refined_dataframe['target_class'] == 'A']
Bs = refined_dataframe[refined_dataframe['target_class'] == 'B']
Es = refined_dataframe[refined_dataframe['target_class'] == 'E']
Vs = refined_dataframe[refined_dataframe['target_class'] == 'V']

In [15]:
#Get the 4 priors.... speed things up
prior_A = np.log10((refined_dataframe.target_class.value_counts()['A'])/refined_dataframe.shape[0])
prior_B = np.log10((refined_dataframe.target_class.value_counts()['B'])/refined_dataframe.shape[0])
prior_E = np.log10((refined_dataframe.target_class.value_counts()['E'])/refined_dataframe.shape[0])
prior_V = np.log10((refined_dataframe.target_class.value_counts()['V'])/refined_dataframe.shape[0])

In [16]:
## EXTENSION 
k = refined_dataframe.shape[0]

In [17]:
refined_dataframe['patna'].value_counts()

0.0    3999
2.0       1
Name: patna, dtype: int64

In [18]:
## EXTENSION
for column in refined_dataframe.columns[0:-2]:
    list_of_indexes = refined_dataframe[column].to_numpy().nonzero()[0]
    nonzero = len(list_of_indexes)
    for indice in list_of_indexes:
        refined_dataframe.at[indice, column] *=  np.log10(k/nonzero)

In [19]:
refined_dataframe['patna'].value_counts()

0.00000    3999
7.20412       1
Name: patna, dtype: int64

#### Extension 2

In [20]:
def denominator(abstract):
    totals = 0
    for i in set(abstract):
        totals += (abstract.count(i))**2
    return np.sqrt(totals)

In [21]:
## Extension 2 - document length. First create new column that has the denominator of the document
## adjustment equation.

refined_dataframe['denominator'] = refined_dataframe['abstract_splitted'].apply(lambda x: denominator(x))

In [22]:
refined_dataframe.head()

,25-,phmt112,machesky,gly-x-y,able,endowed,psbb-ycf8-psbh-petb-petd,14000,47-,profiling,...,overland,agricultural,substrate,1143,fluctuations,calf,pupae,abstract_splitted,target_class,denominator
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[202, 353, alkaliphilic, bacterium, bacillus, ...",B,9.797959
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[1751377-bp, archaeon, methanobacterium, therm...",A,12.206556
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[1992, started, assembling, ordered, cosmid, x...",E,7.280110
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[aim, measure, mitochondrial, variability, rel...",E,14.491377
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[spirulina, maxima, ferredoxin, h2n-ala-thr-ty...",B,5.291503

In [25]:
## Divide every non-zero value by denominator in dataframe

for column in refined_dataframe.columns[0:-3]:
    list_of_indexes = refined_dataframe[column].to_numpy().nonzero()[0]
    for indice in list_of_indexes:
        refined_dataframe.at[indice, column] /=  refined_dataframe.at[indice, 'denominator']

In [26]:
refined_dataframe['patna'].value_counts()

0.00000    3999
0.08894       1
Name: patna, dtype: int64

In [27]:
#The count(c)'s, used to calculate conditional probability P(w|c)
A_count_C = As.iloc[:,:-3].values.sum()
B_count_C = Bs.iloc[:,:-3].values.sum()
E_count_C = Es.iloc[:,:-3].values.sum()
V_count_C = Vs.iloc[:,:-3].values.sum()

In [28]:
#|V|
VV = len(refined_dataframe.columns) - 2

In [29]:
#count(w,c)
A_diction = As.iloc[:,:-3].sum(axis=0)
B_diction = Bs.iloc[:,:-3].sum(axis=0)
E_diction = Es.iloc[:,:-3].sum(axis=0)
V_diction = Vs.iloc[:,:-3].sum(axis=0)

In [30]:
#P(w|c)
for key in A_diction.keys():
    A_diction[key] = np.log10((A_diction[key] + 1)/(A_count_C + VV))
for key in B_diction.keys():
    B_diction[key] = np.log10((B_diction[key] + 1)/(B_count_C + VV))
for key in E_diction.keys():
    E_diction[key] = np.log10((E_diction[key] + 1)/(E_count_C + VV))
for key in V_diction.keys():
    V_diction[key] = np.log10((V_diction[key] + 1)/(V_count_C + VV))

### Bayes time

In [31]:
def predictnow(abstract):
    answerstupule = []
    
    a_prob = prior_A
    for i in set(abstract):
        if i in A_diction.keys():
            a_prob = a_prob + abstract.count(i) * A_diction[i]
        else:
            a_prob = a_prob + np.log10(1/(A_count_C + VV))
    answerstupule.append(('A',a_prob))
        
    b_prob = prior_B
    for j in set(abstract):
        if j in B_diction.keys():
            b_prob = b_prob + abstract.count(j) * B_diction[j]
        else:
            b_prob = b_prob + np.log10(1/(B_count_C + VV))
    answerstupule.append(('B',b_prob))
    
    e_prob = prior_E
    for k in set(abstract):
        if k in E_diction.keys():
            e_prob = e_prob + abstract.count(k) * E_diction[k]
        else:
            e_prob = e_prob + np.log10(1/(E_count_C + VV)) 
    answerstupule.append(('E',e_prob))
    
    v_prob = prior_V
    for l in set(abstract):
        if l in V_diction.keys():
            v_prob = v_prob + abstract.count(l) * V_diction[l]
        else:
            v_prob = v_prob + np.log10(1/(V_count_C + VV)) 
    answerstupule.append(('V',v_prob))

    answer = sorted(answerstupule, key=lambda x: -x[1])
    
    return answer[0][0]

In [25]:
data['Bens_predictions'] = data.apply(lambda x: predictnow(x['abstract_splitted']), axis=1)
#testingtime['target_class'] = testingtime.apply(lambda x: predictnow(x['abstract']), axis=1)

In [28]:
data['Bens_predictions'].tail()

3995    V
3996    V
3997    A
3998    V
3999    B
Name: Bens_predictions, dtype: object

In [29]:
data['class'].tail()

3995    E
3996    E
3997    E
3998    E
3999    B
Name: class, dtype: object

## TEST

In [32]:
test = pd.read_csv('tst.csv')
test.head()

   id                                           abstract
0   1  in a previous work all three components of com...
1   2  we compared morphology of two geographically c...
2   3  factor xiii mr 320000 is a blood coagulation f...
3   4  we report the characterisation of a human gene...
4   5  fat tissue plays a critical role in the regula...

In [33]:
test['abstract'] = test.apply(lambda x: x['abstract'].split(), axis=1)
test['abstract'] = test['abstract'].apply(lambda x: [word for word in x if word not in stopwordss])
test['abstract'] = test['abstract'].apply(lambda x: [word for word in x if word not in intersection])
test.head()

   id                                           abstract
0   1  [work, comamonas, testosteroni, b-356, bipheny...
1   2  [morphology, geographically, populations, trop...
2   3  [xiii, mr, 320000, blood, coagulation, stabili...
3   4  [characterisation, mcg18, endocrine, neoplasia...
4   5  [fat, tissue, critical, metabolism, proteomic,...

In [34]:
test['class'] = test.apply(lambda x: predictnow(x['abstract']), axis=1)
test = test.drop(['abstract'], axis=1)

In [35]:
test['class'].value_counts()

E    556
B    372
V     36
A     36
Name: class, dtype: int64

In [36]:
test.to_csv('Ben_3.csv', header=True, index=False)